@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

$primary-color: #1154a3;
$secondary-color: #ffffff;
$button-color: #da753c;
$text-color: #3b3c3f;
$background-color: #e7f3ff;

$font-family: "Poppins", sans-serif;
