.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: $background-color;

  &--centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
